<div id="Logodiv">
    <button mat-button [matMenuTriggerFor]="menu"><img id="logo" src="assets/img/PuzzleBrosLogo.png"><h1>{{title}}</h1></button>
</div>

<mat-menu #menu="matMenu" #navbar>
    <a routerLink="/home"><button mat-menu-item>Home</button></a>
    <a routerLink="/game"><button mat-menu-item>Game</button></a>
    <a routerLink="/login" *ngIf="!isAuthorized"><button mat-menu-item>Login</button></a>
    <a routerLink="/signup" *ngIf="!isAuthorized"><button mat-menu-item>Sign Up</button></a>
    <a routerLink="/highscores"><button mat-menu-item>Highscores</button></a>
    <a routerLink="/faq"><button mat-menu-item>FAQ</button></a>
    <a routerLink="/profile" *ngIf="isAuthorized"><button mat-menu-item>Profile</button></a>
    <a routerLink="/logout" *ngIf="isAuthorized"><button mat-menu-item>Logout</button></a>
</mat-menu>
<router-outlet></router-outlet>