<h1 id="Signup">SignUp</h1>

<form class="example-form" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" required name="email" ngModel #emailInput="ngModel">
        <div *ngIf="emailInput.touched">
            <mat-error>{{validateEmail(emailInput)}}</mat-error>
        </div>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput minlength="8" [type]="hide1 ? 'password' : 'text'" required name="password" ngModel #passwordInput="ngModel">
        <div *ngIf="passwordInput.touched">
            <mat-error>{{validatePassword(passwordInput)}}</mat-error>
        </div>
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1" type="button">
            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" required name="passwordconfirm" ngModel #passwordconfirmInput="ngModel">
        <div *ngIf="passwordconfirmInput.touched">
            <mat-error>{{comparePasswords(passwordInput, passwordconfirmInput)}}</mat-error>
        </div>
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2" type="button">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Country</mat-label>
        <input matInput required name="country" ngModel #countryInput="ngModel">
        <div *ngIf="countryInput.touched">
            <mat-error>{{validateRequired(countryInput)}}</mat-error>
        </div>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput required name="city" ngModel #cityInput="ngModel">
        <div *ngIf="cityInput.touched">
            <mat-error>{{validateRequired(cityInput)}}</mat-error>
        </div>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
</form>